@{
    ViewBag.Title = "ChangePassword";
}

@*ChangePassword*@



@using (Html.BeginForm())
{
    <div class="jumbotron text-center" style="display: inline-block; margin-top:100px">
        <table>
            <tr>
                <td>
                    <label id="Label1" class=" input-group-text input-group-prepend">Old Password</label>
                </td>
                <td>
                    @Html.Editor("oldPassword")
                </td>
            </tr>
            <tr>
                <td><label id="Label1" class=" input-group-text input-group-prepend">New Password</label></td>
                <td>@Html.Editor("newPassword1")</td>
            </tr>
            <tr>
                <td><label id="Label1" class=" input-group-text input-group-prepend">Confirm Password</label></td>
                <td>                    @Html.Editor("newPassword2")</td>
            </tr>
            <tr>
                <td>
                    <button id="submit" class="btn btn-outline-success">Submit</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Session["SucessChangePassword"]
                    @Session["ErrorChangePassword"]
                </td>
            </tr>
        </table>
       

    </div>
}