@model BusinessLayer.Account
@{
    ViewBag.Title = "Menu";

}


    @*@Html.ActionLink("Fund Transer", "FundTransfer")
        @Html.ActionLink("Mini Statement", "MiniStatement")
        @Html.ActionLink("Change Password", "ChangePassword")
        @Html.ActionLink("Balance Enquiry", "BalanceEnquiry")
        @Html.ActionLink("Custome Statement", "CustomStatement")*@



<div class="jumbotron d-inline-block" style=" margin-top: 100px">
    <div class="input-group">
        <label id="AccountNO" class="input-group-text input-group-prepend">AccountNo</label>
        <label id="Account" class="form-control">@Model.accountNo</label>
    </div>
    <br />
    <div class="input-group">
        <label id="balanceMsg" class="input-group-text input-group-prepend">Balance &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label id="Balance" class="form-control">@Model.amount</label>
    </div>
    @ViewBag.branchId
</div>