@model BusinessLayer.Account 

@{
    ViewBag.Title = "editAccount";
}

<div>
    <div class="jumbotron bg-light text-dark">

        @using (Html.BeginForm("editAccounts", "Manager"))
        {
            <div >

                <label id="AccountTypeLabel" class="col-form-label">Account Type</label>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Current Account",
                        Value = "Current"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Savings Account",
                        Value = "Savings",
                        Selected = true
                    });
                }
                @Html.DropDownList("AccountType", listItems, new { @class = "form-control" })
            </div>
            <div  >
                <label id="DateOfOpeneningLabel" class="col-form-label">Date Of Opening</label>
                <label class="form-control">@Model.DateOfOpen</label>
            </div>
            <div  >
                <label id="StatusLabel" class="col-form-label">Status</label>
                @{
                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Open",
                        Value = "Open"
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Close",
                        Value = "Close",
                        Selected = true
                    });
                }
                @Html.DropDownList("Status", listItems2, new { @class = "form-control" })
            </div>
            <div  >
                <label id="DateOfEditedLabel" class="col-form-label">DateOfEdited</label>
                @{
                    Session["Today"] = DateTime.Now;
                }
                <label class="form-control">@Session["Today"]</label>
            </div>
            <div  >
                <label id="ClosingDateLabel" class="col-form-label">ClosingDate</label>
                <input type="text" name="ClosingDate" id="ClosingDate" class="form-control" />
                @*@Html.EditorFor(p => p.ClosingDate)*@
            </div>
            <div  >
                <label id="AmountLabel" class="col-form-label">Amount</label>
                <input type="text" name="amount" id="amount" class="form-control" />
                @*@Html.EditorFor(p => p.amount)*@
            </div>
            <div>
                <input type="submit" id="DetailsSubmitButton" onclick="location.href='@Url.Action("editAccounts", "Manager")'" class="btn btn-outline-secondary" />
            </div>

        }
        @using (Html.BeginForm("deleteAccount", "Manager"))
        {
            <input id="DeleteButton" value="delete" type="submit" class="btn btn-outline-danger" />
        }
    </div>

</div>
