    @model BusinessLayer.Customer
@{
    ViewBag.Title = "ManageCustomer";
}


<div class="jumbotron bg-light text-dark">
    @ViewBag.deleteCustomer
    @using (Html.BeginForm())
    {
        <div>
            <label><h1>Manage Customer</h1></label>
        </div>
        <div class="form-group">
            <label id="Label1" class="col-form-label">Customer id </label>
            <input type="text" class="form-control" name="customerId" id="customerId" />
            @*@Html.EditorFor(model => model.customerId)*@
        </div>
        <div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
        <label id="Label2">@ViewBag.Error</label>
        <div class="table-responsive col-10">
            @if (@Model != null)
            {
                <table border="2" style="font-family:Arial" class="table table-hover table-striped">
                    <tr>
                        <th>CustomerId</th>
                        <th>CustomerName</th>
                        <th>Gender</th>
                        <th>Date Of Birth</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Pincode</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Branch</th>
                    </tr>
                    <tr>
                        <td>
                            @Model.customerId
                        </td>
                        <td>
                            @Model.customerName
                        </td>
                        <td>
                            @Model.gender
                        </td>
                        <td>
                            @Model.dob
                        </td>
                        <td>
                            @Model.address
                        </td>
                        <td>
                            @Model.state
                        </td>
                        <td>
                            @Model.city
                        </td>
                        <td>
                            @Model.pincode
                        </td>
                        <td>
                            @Model.phoneNo
                        </td>
                        <td>
                            @Model.email
                        </td>
                        <td>
                            @Model.branchId
                        </td>
                    </tr>
                </table>
            }

        </div>
    }
    <div class="btn btn-group">
        @if (@Model == null)
        {
            <button id="showAllCustomersBtn" onclick="location.href='@Url.Action("ShowAllCustomers","Manager")'" class="btn btn-outline-info">Show all</button>
            <button id="add" onclick="location.href='@Url.Action("AddCustomer","Manager")'" class="btn btn-outline-success">Add</button>
        }
        else
        {

            <button id="edit" onclick="location.href='@Url.Action("EditCustomer", "Manager", new { id=@ViewBag.customerId})'" class="btn btn-outline-dark">Edit</button>
            <button id="delete" onclick="location.href='@Url.Action("DeleteCustomer","Manager", new { id=@ViewBag.customerId})'" class="btn btn-outline-danger">Delete</button>
        }

    </div>
    <label id="Label3"></label>


</div>